<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.honey.mapper.auto.ArticleMainMapper">
    <resultMap id="BaseResultMap" type="com.honey.entity.auto.ArticleMain">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="aid" property="aid" jdbcType="INTEGER"/>
        <result column="ua" property="ua" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.honey.entity.auto.ArticleMain" extends="BaseResultMap">
        <result column="body" property="body" jdbcType="LONGVARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, aid, ua, create_time
    </sql>
    <sql id="Blob_Column_List">
        body
    </sql>
    <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from honey_article_main
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from honey_article_main
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.honey.entity.auto.ArticleMain">
        insert into honey_article_main (id, aid, ua,
        create_time, body)
        values (#{id,jdbcType=INTEGER}, #{aid,jdbcType=INTEGER}, #{ua,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP}, #{body,jdbcType=LONGVARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.honey.entity.auto.ArticleMain">
        insert into honey_article_main
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="aid != null">
                aid,
            </if>
            <if test="ua != null">
                ua,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="body != null">
                body,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="aid != null">
                #{aid,jdbcType=INTEGER},
            </if>
            <if test="ua != null">
                #{ua,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="body != null">
                #{body,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.honey.entity.auto.ArticleMain">
        update honey_article_main
        <set>
            <if test="aid != null">
                aid = #{aid,jdbcType=INTEGER},
            </if>
            <if test="ua != null">
                ua = #{ua,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="body != null">
                body = #{body,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.honey.entity.auto.ArticleMain">
        update honey_article_main
        set aid = #{aid,jdbcType=INTEGER},
        ua = #{ua,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        body = #{body,jdbcType=LONGVARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.honey.entity.auto.ArticleMain">
        update honey_article_main
        set aid = #{aid,jdbcType=INTEGER},
        ua = #{ua,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>