<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.honey.mapper.extend.IReplyDao">
    <resultMap id="BaseResultMap" type="com.honey.entity.extend.ReplyVo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="msg" property="msg" jdbcType="VARCHAR"/>
        <result column="up" property="up" jdbcType="INTEGER"/>
        <result column="ua" property="ua" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="memberId" property="memberId" jdbcType="VARCHAR"/>
        <result column="nikename" property="nikename" jdbcType="VARCHAR"/>
        <result column="head_img" property="headImg" jdbcType="VARCHAR"/>
        <result column="articleId" property="articleId" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="findReplysByArticle" resultMap="BaseResultMap">
        select hr.id,hr.msg, hr.up,hr.ua,
        hr.create_time,hm.id as memberId,hm.nikename,
        hm.head_img,ha.id as articleId
        from honey_reply hr
        LEFT JOIN honey_member hm on hr.mid = hm.id
        LEFT JOIN honey_article ha on hr.aid = ha.id
        <where>
            ha.id = #{aid}
        </where>
    </select>

    <update id="up" parameterType="java.lang.Integer">
        update honey_reply set up = up+1 where id=#{rid}
    </update>
</mapper>